body {
     background-color: #f1f1f1;
     font-family: 'Open Sans', sans-serif;
}
 h1 {
     font-weight: bold;
     font-size: 3rem;
     color: #333;
     text-shadow: 1px 1px #ccc;
}
 .alert {
     margin-top: 1rem;
     background-color: #ffb6c1;
     border-color: #ff6961;
     color: #a94442;
     border-radius: 0.25rem;
     text-align: center;
     font-size: 1.5rem;
}
 form {
     margin-top: 2rem;
}
 input[type="text"] {
     width: 100%;
     padding: 1rem;
     border: 1px solid #ccc;
     border-radius: 0.25rem;
     font-size: 1.5rem;
     margin-bottom: 1rem;
}
 button[type="submit"] {
     width: 100%;
     padding: 1rem;
     background-color: #333;
     border-color: #333;
     color: #fff;
     border-radius: 0.25rem;
     font-size: 1.5rem;
     font-weight: bold;
     cursor: pointer;
}
 p {
     font-size: 1.5rem;
     color: #333;
     margin-top: 1rem;
}
.summary {
     font-weight: bolder;
}
 strong {
     font-weight: bold;
}
 .weather-section {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}
 .weather-section img {
     width: 100%;
     max-width: 300px;
     margin-bottom: 20px;
}
 .text-center {
     text-align: center;
}

.logo-image {
  margin-bottom: 10px;
  width: 50px;
  height: 50px;
}

.city-image {
  text-align: center;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
}